---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  const pages = blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });

  return pages;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="max-w-screen-md w-full mx-auto p-5 mt-8">
    <h1>{entry.data.title}</h1>
    <span class="text-purple">{entry.data.date.toLocaleDateString()}</span>
    <span>{entry.data.tags.join(", ")}</span>
    <Content />
  </div>
</Layout>
