---
import { getCollection } from "astro:content";

import Badge from "@/components/Badge/index.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  const pages = blogEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });

  return pages;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="max-w-screen-md w-full mx-auto p-5 mt-8">
    <h1>{entry.data.title}</h1>
    <div>
      {entry.data.tags.map((tag) => <Badge class="mr-4">{tag}</Badge>)}
      <span class="text-comment pt-1"
        >{entry.data.date.toLocaleDateString()}</span
      >
    </div>
    <Content />
  </div>
</Layout>
