---
import Container from "components/Container/index.astro";
import { Github } from "components/Icons";

import { links } from "@/constants";
---

<footer>
  <Container>
    <div class="flex items-center justify-center w-full">
      <!-- <Icon icon={faGithub} size="2x" /> -->
      <Github />
      <a
        class="mx-2 animated-link"
        href={links.github}
        rel="noreferrer noopener"
        target="_blank"
      >
        GitHub
      </a>
      <!-- <Icon class="ml-5" icon={faTwitter} size="2x" /> -->
      <a
        class="mx-2 animated-link"
        href={links.twitter}
        rel="noreferrer noopener"
        target="_blank"
      >
        Twitter
      </a>
    </div>
  </Container>
</footer>
