---
import Container from "@/components/Container/index.astro";

import { links } from "@/constants";
---

<footer>
  <Container>
    <div class="flex items-center justify-center w-full">
      <a
        class="mx-2 animated-link"
        href={links.github}
        rel="noreferrer noopener"
        target="_blank"
      >
        GitHub
      </a>
      <a
        class="mx-2 animated-link"
        href={links.twitter}
        rel="noreferrer noopener"
        target="_blank"
      >
        Twitter
      </a>
    </div>
  </Container>
</footer>
