---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Matt Miller">
  <h2 class="text-4xl mb-16" id="name_title">Career so far</h2>
  <section>
    <h3 class="text-orange block">
      Senior Full-Stack Developer - Pebble Beach Systems
    </h3>
    <time class="text-purple">August 2021 - Ongoing</time>
    <p>
      I currently work as a fullstack developer on our Pebble Remote product.
      This is a MEAN stack application that runs on-prem and in the cloud for
      customers who use our Pebble Automation product. It interfaces with Pebble
      Automation to provide a simpler way of performing the common 80% of uses
      and can be accessed from anywhere.
    </p>
    <p>
      The project had been unloved and unmaintained for a few years before I was
      brought on to revitalise it. As the sole developer of this product I work
      a lot with the product owner and support teams to prioritise what we work
      on, estimate and scope out new features and fixes and make improvements to
      the software on a technical level as I see fit.
    </p>
  </section>
</Layout>
