---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Miller">
  <div class="max-w-screen-md w-full mx-auto p-5 mt-8">
    <h1 class="">Matt Miller</h1>
    <p class="">Software Engineer</p>
    <p class="">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quis
      quod? Cupiditate facere laboriosam perspiciatis aspernatur, facilis quo.
      Perspiciatis, itaque corrupti. Voluptatem illum sit maiores error nihil
      aspernatur, voluptas sunt.
    </p>

    <hr />

    <table>
      <thead>
        <td>hellow</td>
        <td>world</td>
        <td>table</td>
      </thead>
      <tbody>
        <tr>
          <td>cell</td>
          <td>cell</td>
          <td>cell</td>
        </tr>
        <tr>
          <td>cell</td>
          <td>cell</td>
          <td>cell</td>
        </tr>
        <tr>
          <td>cell</td>
          <td>cell</td>
          <td>cell</td>
        </tr>
        <tr>
          <td>cell</td>
          <td>cell</td>
          <td>cell</td>
        </tr>
        <tr>
          <td>cell</td>
          <td>cell</td>
          <td>cell</td>
        </tr>
      </tbody>
      <caption> This is a caption, does it look good?</caption>
    </table>

    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic praesentium
        dolorem laboriosam? Harum enim maxime esse dolorem, quos amet!
        Consectetur suscipit possimus minus est libero consequuntur nesciunt
        voluptates <a>hello</a>?
      </li>
      <li>
        Soluta eligendi et sunt ex tenetur esse suscipit hic dicta repudiandae
        sequi cumque alias praesentium non voluptatibus recusandae accusantium,
        odio nemo quisquam quia ab culpa voluptatum! Numquam possimus
        perferendis voluptatibus!
      </li>
      <li>
        Expedita tempore iusto optio facilis quod vero impedit facere iure?
        Neque veritatis eum, cumque ex fuga officiis ipsa nam repellendus,
        quaerat nesciunt incidunt! Quod laudantium incidunt non dolorum maiores
        ducimus!
      </li>
      <li>
        Consequuntur totam sint perferendis commodi quis asperiores vel dolores
        aspernatur ducimus, ad numquam pariatur dolore natus in nemo nulla
        doloremque quia impedit culpa, animi, accusamus vero facilis? Iste,
        suscipit impedit?
      </li>
      <li>
        Unde doloribus dignissimos labore perspiciatis nulla accusamus
        blanditiis perferendis nostrum cupiditate ex. Cumque neque commodi
        asperiores, aspernatur eos maiores iste placeat officiis inventore
        magnam pariatur earum ex minima in nostrum?
      </li>
    </ul>
  </div>
</Layout>
